<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="menu" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of menuItems">
          <a class="nav-link" routerLink="{{item.url}}">{{item.text}}</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0 text-center">
        <label style="color: white;background-color: #0d6efd;border: none;" class="form-control mr-sm-2 nav-link"
          *ngIf="isLoggedIn">
         <span>{{ Usuario }} - {{ RolNombre }}</span> </label>
        <button (click)="LogOut()" class="btn btn-danger" type="button">
          Cerrar Sesion
        </button>
      </form>
    </div>
  </div>
</nav>