<app-modal (close)="closeModal($event)" [size]="sizeModal" [title]="tituloModal">
    <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
        <input type="hidden" name="Id" [value]="requestentity.idItem" />
        <!-- <div class="form-group">
            <label>Descripcion</label>
            <input type="text" class="form-control" placeholder="descripcion" name="descripcion" #descripcion="ngModel"
                [(ngModel)]="requestentity.descripcion" required
                [class.invalid]="descripcion.invalid && descripcion.touched">
        </div>
        <div class="form-group">
            <label>Costo Total</label>
            <input type="text" class="form-control" placeholder="costoTotal" name="costoTotal" [min]="1"
                #costoTotal="ngModel" [(ngModel)]="requestentity.costoTotal" [disabled]="true" required>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Materia Prima</label>
                    <select class="form-control" name="MateriaPrima" #MateriaPrima="ngModel"
                        [(ngModel)]="idMateriaPrima" (ngModelChange)="onChangeMateriaPrima($event)" required>
                        <option value="">Seleccione</option>
                        <option *ngFor="let ent of lisMateriaPrima" [value]="ent.idMateriaPrima">{{ent.descripcion}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Precio</label>
                    <input type="number" class="form-control" placeholder="Precio" name="Precio" #Precio="ngModel"
                        [(ngModel)]="precioMateriaPrima">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Cantidad</label>
                    <input type="number" class="form-control" placeholder="Cantidad" name="Cantidad" #Cantidad="ngModel"
                        [(ngModel)]="cantidadMateriaPrima">
                </div>
            </div>
            <div class="col-md-2 mt-3">
                <div class="form-group">
                    <button class="btn btn-info btn-block" (click)="onclickAgregar();" type="button">Agregar</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <br>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>id</th>
                        <th>idMateriaPrima</th>
                        <th>Descripcion</th>
                        <th>UnidadMedida</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entity of listItemMateriaPrima">
                        <td>{{entity.idItemMateriPrima}}</td>
                        <td>{{entity.materiaPrima.idMateriaPrima}}</td>
                        <td>{{entity.materiaPrima.descripcion}}</td>
                        <td>{{entity.materiaPrima.unidadMedida}}</td>
                        <td>{{entity.cantidad}}</td>
                        <td>{{entity.precio}}</td>
                        <td>
                            <i class="far fa-trash-alt fa-lg text-danger me-3"
                                (click)="Delete(entity.idItemMateriPrima,entity.materiaPrima.idMateriaPrima);"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <button class="btn btn-info btn-block" type="submit" [disabled]="form.invalid">Guardar</button>
        </div>
    </form>
</app-modal>
<style>
    ::ng-deep .cdk-overlay-container {
        z-index: 2000;
    }
</style>